html,
body {
  position: relative;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.content {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .gallery-thumbs {
    height: 100vh;
    flex: 1;
    padding: 30px 30px;

    .swiper-slide {
      opacity: 0.3;
      border-radius: 50%;
      width: 140px ;
      position: relative;
      .thumb_content {
        display: none;
        position: absolute;
        left: 300px;
        width: 1000px;
        h2{
          margin: 0;
          padding: 0;
          font-size: 50px;
        }
        .sub_title2 {
          color: rgb(139, 137, 137);
        }
        
      }
    }

    .swiper-slide-thumb-active {
      opacity: 1;
      transform: scale(1.2);
      transition: transform 1s ease-in-out;
      border: 2px solid yellow;
    }
    //顯示文字
    .swiper-slide-thumb-active.swiper-slide .thumb_content {
      display: block;
    }
  }

  .gallery-top {
    position: relative;
    right: -170px;
    flex: 1;
    mask: url(./img/mask.png) no-repeat center left;
    mask-mode: alpha;
    mask-size: 65.8%;
    
    .swiper-slide.swiper-slide-active {
      position: relative;
      animation:move 7s infinite;
    }
  }
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

@keyframes move {
  0% {
    right: 0px;
  }
  100% {
    right: 100px;
  }
}

.background_img {
  background: url('./img/word.png') no-repeat center;
  width: 820px;
  height: 820px;
  background-size: contain;
  position: absolute;
  top: 4%;
  left: 51%;
  z-index: 2;
}
