@import "_style-guild.scss";
@import "_navbar.scss";


html,
body {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.content {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .background_img {
    background: url('../img/word1.png') no-repeat center;
    width: 40%;
    height: 100%;
    background-size: contain;
    background-position: right;
    position: absolute;
    right:-20px;
    z-index: 2;
    
    @media (max-width:768px){
      display: none;
    }
  }

  .gallery-thumbs {
    flex: 1;
    padding: 30px 30px;
    margin-left: 20px;
    z-index:3;
    cursor: pointer;
    
    .swiper-slide.swiper-slide-active{
      opacity: 1;
      transform: scale(1.5);
     }

    .swiper-slide {
      opacity: 0.3;
      border-radius: 50%;
      width: 5vw;
      min-width: 80px;
      position: relative;

      @media (min-width:1920px){
        width: 6.8vw;
      }

      @media (min-height:1366px){
        width: 16vw;
      }

      .thumb_content {
        display: none;
        position: absolute;
        left: 50%;
        transform: translate(10% , -15%);
        width: 1000px;
        @media (max-width:768px){
          transform: translate(5% , -10%);
        }

        @media (min-width:1920px){
          transform: translate(10% , -5%);
        }
        
        @media (min-height:1366px){
          transform: translate(10% , 25%);
        }


        .sub_title {
          position: relative;
          left: 5px;
          color: rgb(116, 114, 114);
          font-size: 15px;
          @media (max-width:760px){
            font-size: 1.5vw;
            left: 5px;
            top:-4px;
          }
        }

        h2{
          margin: 0;
          padding: 0;
          font-size: 2.5vw;
          font-family: 'Microsoft JhengHei';
          font-weight: bold;          

          @media (max-width:760px){
            font-size:4vw;
            position: relative;
            left:5px
          }
        }
      }
        .sub_title2 {
          position: relative;
          bottom: 15px;
          left: 5px;
          color: rgb(139, 137, 137);
          padding-bottom:5px; 
          border-bottom:3px solid yellow;
          @media (max-width:760px){
            font-size:1.5vw;
            top: -25px;
            left: 7px;
          }
        }
      }
    }

    //顯示thumbs內容
    .swiper-slide.swiper-slide-active .thumb_content {
      display: block;
      transition:all 0.1s ease-in-out;
      cursor: pointer;
    }
  }

  .gallery-top {
    position: relative;
    flex: 1;
    @media (max-width:768px){
      display: none;
    }

    .swiper-wrapper {
      position: relative;
      right: 15x;

      .swiper-slide {
        // clip-path: circle(41.5%);
        clip-path: circle(21.3vw at 73%);
        }
    }
    
    
    .swiper-slide.swiper-slide-active {
      position: relative;
      animation:move 5s infinite;
    }
  }


.swiper-slide {
  background-size: cover;
  background-position: center;
}

@keyframes move {
  0% {
    right: 0px;
  }
  100% {
    right: 25px;
  }
}

.btn-primary{
  display: none;
}