@charset "UTF-8";
body {
  margin: 0;
  position: relative;
}

.modal-dialog {
  max-width: 100vw;
}

.toggle_box {
  position: absolute;
  z-index: 10;
  margin: 20px 15px;
  color: #AAA;
}

@media screen and (max-width: 991px) {
  .toggle_box {
    margin-left: 94%;
    margin-top: 15px;
    color: white;
  }
}

@media screen and (max-width: 650px) {
  .toggle_box {
    margin-left: 93%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  .toggle_box {
    margin-left: 91%;
  }
}

@media screen and (max-width: 400px) {
  .toggle_box {
    margin-left: 90%;
  }
}

@media screen and (max-width: 350px) {
  .toggle_box {
    margin-left: 89%;
  }
}

.left_box {
  position: absolute;
  width: 30px;
  height: 600px;
  margin: 65px 16px;
  z-index: 10;
}

.left_box p {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 20px;
  margin: 0;
  color: #AAA;
  text-align: justify;
  letter-spacing: 5px;
}

@media screen and (max-width: 1500px) {
  .left_box {
    margin: 65px 20px;
  }
  .left_box p {
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .left_box {
    display: none;
  }
}

.pic {
  position: absolute;
  margin-top: 13%;
  margin-left: 38%;
  width: 150px;
  height: 150px;
  background-image: url(./img/山png0.png);
  background-position: center;
  background-size: cover;
  z-index: 10;
}

@media screen and (max-width: 1500px) {
  .pic {
    margin-top: 10%;
    margin-left: 34%;
  }
}

@media screen and (max-width: 1350px) {
  .pic {
    margin-top: 7%;
    margin-left: 34%;
  }
}

@media screen and (max-width: 1250px) {
  .pic {
    margin-top: 5%;
    margin-left: 34%;
  }
}

@media screen and (max-width: 1125px) {
  .pic {
    margin-top: 2%;
    margin-left: 34%;
  }
}

@media screen and (max-width: 991px) {
  .pic {
    display: none;
  }
}

.card .col-lg-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .col-lg-6 .text {
  padding: 0 50px;
  z-index: 11;
}

.card .col-12 {
  width: 100%;
}

.card .col-12 .text {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  letter-spacing: 5px;
  text-align: justify;
  padding: 0 80px;
}

@media screen and (max-width: 991px) {
  .card .col-12 .text {
    padding: 0 60px;
  }
}

@media screen and (max-width: 600px) {
  .card .col-12 .text {
    width: 100%;
    height: 600px;
    padding: 0 20px;
  }
  .card .col-12 .text p {
    height: 300px;
    font-size: 12px;
    overflow: auto;
  }
}

.bottom_box {
  position: absolute;
  bottom: 0;
  width: 800px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.bottom_box .bo_left {
  margin: 0;
  width: 300px;
  padding: 20px 0;
}

@media screen and (max-width: 1300px) {
  .bottom_box .bo_left {
    width: 250px;
  }
}

@media screen and (max-width: 1100px) {
  .bottom_box .bo_left {
    width: 200px;
  }
}

@media screen and (max-width: 991px) {
  .bottom_box .bo_left {
    width: 300px;
  }
}

@media screen and (max-width: 650px) {
  .bottom_box .bo_left {
    width: 150px;
  }
}

@media screen and (max-width: 450px) {
  .bottom_box .bo_left {
    width: 80px;
  }
}

.bottom_box .bo_center {
  width: 80px;
  height: 80px;
  padding: 10px 0;
  border: black 1px solid;
  border-radius: 0 100% 100% 0;
  border-top: none;
  border-left: none;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 550px) {
  .bottom_box .bo_center {
    width: 60px;
    height: 60px;
  }
}

.bottom_box .bo_center .bo_box {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-image: url(./img/統一版照片-慈濟宮.jpg);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 550px) {
  .bottom_box .bo_center .bo_box {
    width: 45px;
    height: 45px;
  }
}

.bottom_box .bo_right {
  width: 200px;
  height: 100px;
  line-height: 100px;
  margin-left: 10px;
}

.bottom_box .bo_right a {
  background-color: #AAA;
  color: white;
  border-radius: 4px;
}

.bottom_box .bo_right p {
  letter-spacing: 2px;
  font-size: 12px;
}

@media screen and (max-width: 1500px) {
  .bottom_box .bo_right p {
    font-size: 8px;
  }
}

@media screen and (max-width: 500px) {
  .bottom_box .bo_right p {
    letter-spacing: 1px;
    font-size: 2px;
  }
}
/*# sourceMappingURL=99.main01.css.map */