<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
        A的體重 <input type="text" v-model='a'>
        B的體重 <input type="text" v-model='b'>
        <div>誰比較重 {{whoHeavy}}</div>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>

    <script>
        let vm = new Vue({
            el:'#app',
            data:{
                a:0,
                b:0
            },
            methods:{
                whoHeavy:function () {
                    if (this.a > this.b) return "a比較重"
                    else if(this.a < this.b) return 'b比較重'
                    else return '一樣肥'
                },

                
            }
        })
        
        //判斷A 及B 誰比較重
        //跟全國平均比
    </script>
  </body>
</html>
